* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(185, 226, 191);
  margin: 0;
  padding: 0;
  font-family: 'Pacifico', cursive;
}

.logo {
  grid-area: logo;
  background-color: #43ce4f;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  border: 20px; ;
  
}

.imagenlogo {
  height: 140px;
  width: 140px;
 
 object-fit: contain;
 }

.header {
  grid-area: header;
  background-color: #43ce4f;
  padding: 5px;
  text-align:center;
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;

}
h2 {
  font: size 16px;
  font-family: 'Roboto', sans-serif;

}
h1 {
  font: size 16px;
  font-family: 'Courier New', Courier, monospace;
  color: #0b3d11;
  text-align: center;
  text-decoration:underline;

}
h3 {
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
  font-size: 13px;
}

.iconos {
  grid-area: iconos;
  padding: 10px;
  background-color: #43ce4f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  grid-area: nav;
  background-color: rgb(6, 112, 33);
  display: inline-block;
  padding: 2px;
  text-align: center;
  font-family: 'Pacifico', cursive;
  /*font google*/
}

li {
  display: inline-block;
  margin: 5px;
  padding: 2px;
  width: 160px;
  text-align: center;
}

a:hover {
  color: rgb(30, 233, 12);
}

a {
  text-decoration: none;
  font-size: 14px;
  color: #FFFFFF;
  margin: 40px;
  

}

.grid-container {
  display: grid;
  grid-template-areas:
    'logo header header header header iconos'
    'nav nav nav nav nav nav'
    'med med med med med med'
    'footer footer footer footer footer footer';
}

.izq,
.med,
.der {
  padding: 5px;
  
}


.izq {
  grid-area: izq;
  text-align: center;

}


.med {
  grid-area: med;
  text-align: center;
  height:100%;

}


.der {
  grid-area: der;
  text-align: center;

}


.footer {
  grid-area: footer;
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
  padding: 40px;
  height: max-content;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}
.embed-container iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  display: none;
  }
  
/*Cajas hombre/mujer*/
.container{
  display:flex ;
  flex-direction: row;
  width: 100%;
  
  
  
}

.translate:hover{
  transform: translate(1px,3px);
      -webkit-transform: translate(1px,3px);
      -ms-transform: translate(1px,3px);
}
.translate2:hover{
  transform: translate(15px,13px);
      -webkit-transform: translate(15px,15x);
      -ms-transform: translate(15px,15px);
}

.button {

--offset: 1vh;
--border-size: 0.22vh;

display: block;
position: relative;
padding: .5vh 2vw;
background: transparent;
color: #2bb83d;
text-transform: uppercase;
letter-spacing: .25vh;
outline: none;
cursor: pointer;
font-weight: bold;
border-radius: 0;
box-shadow: inset 0 0 0 var(--border-size) currentcolor;





}

.caja{
  border: 1vh solid rgba(112, 216, 159, 0.39);
  border-style: ridge;
  padding: 1%;
  padding-top: 1%;
  padding-bottom: 1%; 
  height: 35%;
  background-color: rgba(239, 243, 241, 0.233);
 
}

.caja1{
  border: 1vh solid rgba(112, 216, 159, 0.39);
  border-style: ridge;
  padding: 1%;
  padding-top: 1%;
  padding-bottom: 1%; 
  height: 35%;
  background-color: rgba(239, 243, 241, 0.233);
  
}

.caja2{
  border: 1vh solid rgba(112, 216, 159, 0.39);
  border-style: ridge;
  padding: 1%;
  padding-top: 1%;
  padding-bottom: 1%; 
  height: 35%;
  background-color: rgba(239, 243, 241, 0.233);
}

.caja3{
  border: 1vh solid rgba(112, 216, 159, 0.39);
  border-style: ridge;
  padding: 1%;
  padding-top: 1%;
  padding-bottom: 1%; 
  height: 35%;
  background-color: rgba(239, 243, 241, 0.233);
}

.caja4{
  border: 1vh solid rgba(112, 216, 159, 0.39);
  border-style: ridge;
  padding: 1%;
  padding-top: 1%;
  padding-bottom: 1%; 
  height: 35%;
  background-color: rgba(239, 243, 241, 0.233);
}

.caja5{
  border: 1vh solid rgba(112, 216, 159, 0.39);
  border-style: ridge;
  padding: 1%;
  padding-top: 1%;
  padding-bottom: 1%; 
  height: 35%;
  background-color: rgba(239, 243, 241, 0.233);
}





/*Responsive */
@media (max-width: 600px) {
  .grid-container {
    grid-template-areas:

      'logo logo logo logo logo logo'
      'header header header header header header'
      'iconos iconos iconos iconos iconos iconos'
      'nav nav nav nav nav nav'
      'izq izq izq izq izq izq'
      'med med med med med med'
      'der der der der der der'
      'footer footer footer footer footer footer';
  }
}
/* Style the footer */

.pie-pagina {
  width: 100%;
  position: fixed;
  background-color: #0a141d;
}
.pie-pagina .grupo-1 {
width: 100%;
max-width: 1200px;
margin: auto;
display: grid;
grid-template-columns: repeat(3,1fr);
grid-gap: 50px;
padding: 45px 0px;



}
.pie-pagina .grupo-1  .box figure {
  display: inline-block;
  text-decoration: none;
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: #fff;
  margin-right: 10 px;
  background-color: #0d2033;
  text-align: left;
  transition:  all 300ms ease;


}
.pie-pagina .grupo-1 .contactos a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color:#0a141d;
  margin-right: 10 px;
  background-color:green ;
  text-align:center;
  transition:  all 300ms ease;
  border-radius: 50px;
  }


.pie-pagina .grupo-1  .box h2 {
color: #fff;
margin-bottom: 25px;
font-size: 20px;
font-family: Arial, Helvetica, sans-serif;

}
.pie-pagina .grupo-1  .box p {
color:#efefef;
margin-bottom: 10px;
font-family: Arial, Helvetica, sans-serif;
font-size: 20px;
}  
.pie-pagina .grupo-1 .red-social a {
display: inline-block;
text-decoration: none;
width: 40px;
height: 40px;
line-height: 45px;
color:#0a141d;
margin-right: 0 8px;
border-radius: 50px;
background-color:green;
text-align:center;
transition:  all 300ms ease;
}
form {
  width: 450px;
  margin: auto;
  background-color: green;
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 20px;
  border-radius: 7px;



}
input,textarea { width: 100%;
margin-bottom: 20px;
padding: 7px;
box-sizing: border-box;
font-size: 17px;
border: none;
background-color: greenyellow;
}
textarea { 
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
  background-color: greenyellow;
}
#button {
  background-color: greenyellow;
  padding: 20px;
  color:black;
}
#button:hover{
  cursor: pointer;
  
}




.pie-pagina .grupo-2 {
background-color: #0a1a2a;
padding: 15px 10px;
text-align: center;
color: #ffff;




}
.pie-pagina .grupo-2 small{

font-size: 15px;

}
.pie-pagina .grupo-1 .red-social a:hover{
color: aqua;
}
.pie-pagina .grupo-1 .contactos a:hover{
  color: aqua;
  }


@media screen and ( max-width: 800px){ 
  .pie-pagina .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1,1fr);
    grid-gap: 30vw;
    padding: 35vw 0vw;
    

 }

 
